// Tabs
.nav.nav-tabs {
  margin: 0;
  border: 0;
  border-bottom: 1px solid #eaeaea;

  .nav-item { 
    margin-top: 2rem;
    margin-right: 3rem;

    .nav-link {
      padding: 0 0 1rem;
      border: 0;
      border-bottom: 3px solid transparent;
      color: #777;
      font: 700 1.4rem / 1 $font-family;
      letter-spacing: -.01rem;
      text-transform: uppercase;

      &:hover {
        color: $primary-color;
      }
    }

    &.show .nav-link,
    .nav-link.active {
      border-bottom-color: $primary-color;
      color: $primary-color-dark;
      background-color: transparent;
    }
  }
}
