@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewLocalizer["privacy"]</h1>
<p>@ViewLocalizer["informationProduct"]</p>
