@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer
@{ ViewData["Title"] = "Product Page"; }

<div >
    <h1 class="display-4">@ViewLocalizer["product"]</h1>
    <h3>@ViewLocalizer["product"]</h3>
</div>